<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="file" type="File" layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message} ${exception:format=tostring}" fileName="${basedir}/logs/Error.Opera.Cloud.WebAPI.log" archiveFileName="${basedir}/logs/archives/${shortdate}.log" archiveEvery="Day" maxArchiveFiles="180" concurrentWrites="true" keepFileOpen="false" encoding="utf-8">
			<layout type="CsvLayout" quoting="Auto" withHeader="true" delimiter="Tab">
				<column name="DateTime" layout="${longdate}"></column>
				<column name="Level" layout="${uppercase:${level}}"></column>
				<column name="Category" layout="${logger}"></column>
				<column name="Message" layout="${message}"></column>
				<column name="Exception" layout="${exception:format=tostring}"></column>
			</layout>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="file" />
	</rules>
</nlog>